body{
    background-color: #ffffff;
    padding:1rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

:lang(en){
    font-size: 0.9rem;           /* ← 영어만 살짝 축소(예: 92%) */
}

#main {
    display: flex;        /* 가로 배치 */
    gap: 10px;            /* 요소 사이 간격 */
    flex-direction: row;
}

.section-1 {
    height: 100vh;  /* 전체 높이 */
    padding-right: 10px;

}
.header {
    border-bottom: 1px dotted rgb(0, 0, 0); 
    margin-bottom: 10px;
}

.container{
     width: 100%;
    height: auto;
}

table, td {
  border: 1px solid rgb(0, 0, 0); /* 검은색 1픽셀 테두리 */
  border-collapse: collapse; /* 테두리 겹침 제거 */
}

td {
  padding: 5px; /* 셀 안쪽 여백 */
}