.kode-mono-regular {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;   /* Regular */
    font-style: normal;
}  

body{
    background-color: rgb(30, 255, 221);
    padding:1rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-family: "Kode Mono", "Noto Sans KR", monospace, sans-serif;
}

:lang(en){
    font-family: "Kode Mono", monospace;
    font-size: 0.9rem;           /* ← 영어만 살짝 축소(예: 92%) */
}

#main {
    display: flex;        /* 가로 배치 */
    gap: 10px;            /* 요소 사이 간격 */
    flex-direction: row;
}

.section-1, 
.section-2 {
  flex: 1;   /* 둘 다 동일 비율 차지 */
}

.section-1 {
    border-right: 1px dotted rgb(0, 0, 0);
    height: 100vh;  /* 전체 높이 */
    padding-right: 10px;

}
.header {
    border-bottom: 1px dotted rgb(0, 0, 0); 
    margin-bottom: 10px;
}


.section-2{
    border-bottom: 1px dotted rgb(0, 0, 0); 
}